.headshot {
    width: 15vw;
    border-radius: 50%;
    margin: 5px;
}

.inner {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-buttons {
    display: flex;
    justify-content: center;
}

.banner-buttons a {
    margin: 10px;
}

.skill-label {
    width: 50px;
}

.skill-label-text {
    width: 70px;
}

.icons.major {
    margin: auto;
}

.icons.major img:hover {
    cursor: help;
}

#mdb {
    width: 80px;
}

#hover-instructions {
    opacity: 0.75;
    margin: auto;
}

.features p {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
}

.features li:hover {
    transition: background-color 0.2s ease-in-out;
    background-color:  rgba(0, 0, 0, 0.5);
}

.features a {
    cursor: pointer;
}

#two .major {
  margin: 0 auto;
  width: fit-content;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

#proj {
    border-bottom: solid 2px rgba(41, 47, 54, 1);
}

.tech {
    color: white;
    opacity: 0.5;
}

#big-button {
    width: 300px;
}

.banner-buttons {
    margin-bottom: 50px;
}

#about {
    display: flex;
    flex-direction: row;
}

#about p {
    margin: auto;
}

#about-2 {
    margin-top: 2%;
}